<a ui-sref="site.rooms" class="btn btn-default btn-lg pull-right">Back</a>

<h1>Chat room <strong>{{$ctrl.room.name}}</strong></h1>

<div class="col-md-12">
  <form ng-submit="$ctrl.sendMessage($ctrl.message)" name="form" class="form form-horizontal" style="margin-top: 50px;">
    <div class="form-group">
      <textarea id="chat-message" ng-model="$ctrl.message.text" required class="form-control" autofocus placeholder="Send a message..." name="text"></textarea>
    </div>
    <div class="form-group">
      <div ngf-select="$ctrl.uploadFiles($files)" class="btn btn-default col-md-2" ng-model="$ctrl.files" multiple>Select files</div>
      <input ng-disabled="$ctrl.loadingForm || form.$invalid" type="submit" value="Send Message" class="col-md-offset-8 col-md-2 btn btn-success">
    </div>
  </form>
</div>

<table class="table table-condensed table-striped">
  <tr>
    <th width="10%">Created</th>
    <th width="10%">From</th>
    <th width="80%">Text</th>
  </tr>
  <tr ng-if="$ctrl.loading">
    <td colspan="3" class="text-center">loading</td>
  </tr>
  <tr ng-if="! $ctrl.loading && $ctrl.messages.length === 0">
    <td colspan="3" class="text-center">No messages found in this room</td>
  </tr>
  <tr ng-repeat="message in $ctrl.messages" class="message">
    <td>{{message.createdAt|date: 'd.M.yyyy HH:mm'}}</td>
    <td>{{message.from.name}}</td>
    <td>
      {{message.text}}
      <div ng-if="message.files" class="btn-toolbar">
        <a class="btn btn-xs btn-default" ng-repeat="file in message.files" href="/api/message/download?id={{file.id}}">{{file.name}}</a>
      </div>
    </td>
  </tr>
</table>

